#area{ 
	margin-top:52px;
	border:1px solid #CFCFCF;
	height: 600px; }
#menu-lateral{
				margin-top: 52px;
				border: 1px solid #CFCFCF;
				
    		}

#menu-opcoes{
        margin-top: 30px;
        border: 1px solid #CFCFCF;
        height: 300px;
        display:block;
        }

#topo-menu-lateral{
				text-align: center;
				background-color:#BCD2EE;
					}

.menu-lateral-formas{
				text-align: center;
				padding: 6px;
				width: 94.5px;
    			height: 70px;
				
				}

#draggable { width: 150px; height: 150px; padding: 0.5em; }

 #containment-wrapper { width: 95%; height:150px; border:2px solid #ccc; padding: 10px; }
  h3 { clear: left; }


.retangulo { width: 150px; height: 150px; padding: 0.5em; }
  
.losango{
  width:100px;
  height:100px;
  background:#ccc;
  margin-top:50px;
  margin-left:50px;
   /* Rotação */  
   transform: rotate(-45deg);  
}

.circulo{ 
  background: #666;
  border-radius:100%;
  width:150px;
  height:150px;
}

.oval{ 
  background: #666;
  border-radius:100%;
  width:230px;
  height:100px;
}





